*
    box-sizing: border-box;

html,
body
    margin: 0
    padding:0
    font: size 16px
    line: height 1.4em
    font-family: 'Releway', 'arial', sans-serif 
    color: $text

a 
    color: inherit
    text-decoration: none

.title
    font-size: 32px
    font-weight: 500
    letter-spacing: 0.2em
    text-transform: uppercase

.line  
    width: 100px
    height: 3px
    margin: 32px auto 0
    background-color: $accent

.wrapper
    display: center
    justify-content: center
    align-items: center

.info
    padding: 80px 0
    text-align: center

.list
    width: 560px
    padding: 50px 100px 80px
    text-align: left
    
    &-item
        position: relative
        margin-bottom: 20px
        padding-left: 30px

        &:last-child
            margin-bottom: 0

        &::before
            content: ''
            position: absolute
            top: 0%
            left:0
            width: 17px
            height: 17px
            transform: translateY(5%)
            background: url('/src/assets/img/heart.svg') no-repeat 50% 50%
            
.instructions
    width: 516px
    margin: 0 auto
    font-style: 20px
    line-height: 30px
    letter-spacing: 0.1em
    color: $textMuted